* {
  border: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1,
nav {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

ul {
  padding-bottom: 1rem;
  list-style: none;
  list-style-image: none;
}

ul li {
  position: relative;
  left: -2.5rem;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

button:hover {
  cursor: pointer;
}

/* Utilities */
.bg-color {
  background-color: #dedede;
}

.bg-color-primary {
  background-color: #ffcc00;
}

.bg-red {
  background-color: red !important;
}

.wd-50 {
  width: 100%;
}

.padding-2 {
  padding: 2rem;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container p {
  padding-bottom: 1rem;
}

.form {
  border-radius: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.flex {
  display: flex;
  gap: 8rem;
}

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;

}

.gap-2 {
  gap: 2rem;
}

.items-center {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-text {
  text-align: center;
}

.main-text {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.2rem;
}

.main-text-2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.secondary-text {
  font-weight: 700;
  font-size: 1.8rem;
}

.normal-text {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
}

.btn {
  display: block;
  background-color: black;
  font-family: "Titillium Web", sans-serif;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  width: 13rem;
  font-size: 1.3rem;
  border: none;
}

/* Header */
.site-header {
  background-color: #ffcc00;
}

.site-header h1 {
  font-size: 2.6rem;
  font-weight: 300;
}

.site-header .flex-space-between a {
  color: black;
}

nav a {
  color: black;
  font-weight: 300;
  font-size: 1.6rem;
  margin-right: 2rem;
}

#mobile-cat {
  display: none;
}

@media (max-width: 768px) {
  .container {
    width: 85%;
  }

  .site-header h1 {
    font-size: 2rem;
  }

  nav a {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .main-text {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    padding-top: 1rem;
  }

  .secondary-text {
    font-size: 1.5rem;
  }

  .normal-text {
    font-size: 1.1rem;
  }

  .btn {
    padding: 0.8rem;
    margin-top: 1.3rem;
    width: 11rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  #pc-cat {
    display: none;
  }

  #mobile-cat {
    display: block;
  }
}

/* Main */
#pet-list {
  text-align: center;
  position: relative;
  direction: rtl;
  left: 3.7rem;
}

/* Forms */
.input-control {
  margin-bottom: 0.5rem;
  margin-left: 2.5rem;
}

.input-control label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-control input {
  font-size: 1rem;
  width: 80%;
  border-radius: 5px;
  padding: 0.8rem;
}

.input-control select {
  font-size: 1rem;
  width: 87.5%;
  border-radius: 5px;
  padding: 0.8rem;
}

.radio {
  width: 8rem !important;
}

#radio span {
  display: block;
  width: 2rem;
  text-align: right;
  font-size: 1.1rem;
}

.btn-container {
  display: flex;
  font-family: "Titillium Web", sans-serif;
  width: 94.6%;
  justify-content: flex-end;
}

.btn-secondary {
  font-family: "Titillium Web", sans-serif;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  margin-left: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-flex {
  display: flex;
  justify-content: center;
}

/* Footer */
footer {
  background-color: black;
  color: white;
}

.footer-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.footer-container a {
  color: white;
}

.footer-container h2 {
  font-weight: 400;
  font-size: 2.3rem;
}

.about div {
  font-size: 1.2rem;
}

.sm-container {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

#salon-info {
  margin-bottom: 1rem;
}